   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 62.5%;
     }
  
    
   header{
     display: flex;
    }
   
   div#Cabeçalho{
    width: 135.5rem;
    height: 6.40rem;
    background: #00063D;
    }
    
    
   h1#PENS{
     margin-top: 1rem;
     color: #F26419;
     font-size: 2.4rem;
     font-family: 'Grenze';
    }

   span#Aí{
     color: #ebebeb; 
     font-size: 2.4rem;
    }
   
  
   ul#Menu{
     font-size: 4rem;
    }
   
   a#Home{
    color: #F26419;
    }

   a#Sobre{
     margin-right: 1rem;
     margin-bottom: 2rem;
     color: #ebebeb;
     height: 2.5rem;
     width: 2.8rem;
     left: 81.8rem;
     top: 0.6rem;
    }

   img#cubo{
     margin-top: 0.6rem;
     margin-left: -15px ;
     width: 50px;;
     height: 50px;
     padding: 12px;
     transform:rotate(50deg);
    }
    
    p#P-DES{
     margin-top: 3rem;
     width: 48.438rem;
     height: 6.625rem;
     margin-left: 7.5rem;
     margin-top: 6.75;
     font-family: 'Grenze';
     font-style: normal;
     font-weight: 25rem;
     font-size: 1.6rem;
     color: #000000;
    }

    div#card {
      
     margin-left: 3rem;
     margin-top: 3rem;
     text-align: center;
     width: 32rem;
     height: 35rem;
     background: #31393C;
     border: 3px solid #F6A02D;
     border-radius: 25px;
    }
    
    .cardtitulo{
     padding: 2rem;
     width: 29rem;
     height:  6rem;
     left: 35rem;
     top: 17.446rem; 
     background: #F6A02D;
     border-radius: 0.6rem;
    }
    
    .cardtext{
     font-family: 'Grenze';
     font-style: normal;
     font-weight: 25rem;
     font-size: 0.063rem;
     line-height: 1.688rem;
     color: #FFFFFF;
    }

    a#BntJogar{
     text-align: center;
     width: 15.25rem;
     height: 3.074rem;
     font-size: 1.6rem;
     margin-top: 4.5rem;

     border-radius: 3.5rem;
     background: #EBEBEB;
     font-family: 'Grenze';
     font-style: normal;
     color: #0A6ACB;
    }

    h5#titulo{
     font-family: 'Grenze';
     font-style: normal;
     font-weight: 25rem;
     font-size: 1.5rem;
     line-height: 1.875rem;
     color: #31393C;
    }
    p#texto{
     width: 20rem;
     height: 15rem;
     font-family: 'Grenze';
     font-style: normal;
     margin-left: auto;
     margin-right: auto;
     font-size: 1.5rem;
     line-height: 1.688rem;
     text-align: center;
     color: #FFFFFF;
    }

 
    button#Borda{
     margin-top: 15rem; 
     width: 4.1rem;
     height: 4.1rem;
     background: #F6A02D;
     border-radius: 50px;
    }
 

    .linha{
     margin-top: 23rem;
     margin-left: 21rem;
     margin-right: auto;
     width: 93.5rem;
     border: 1px solid #000000;
    }

    p#l{
     font-family: 'Grenze';
     font-style: normal;
     font-weight: 10rem;
     font-size: 1.5rem;
     text-align: center;
     color: #000000;
     width: 100.438rem;
     height: 6.625rem;
     margin-left: 17rem;
    }

    a#rodape{ 
     font-family: 'Grenze';
     font-style: normal;
     font-weight: 25rem;
     font-size: 1.5rem;
     line-height: 1.5rem;
     margin-top: 1rem;
     margin-left: auto;
     margin-right: auto;
     color: #FFFFFF;
   
    }

    div#Rodape{ 
     margin-top: 4rem;
     width: 135.5rem;
     height: 6.40rem;
     background: #00063D;
    }
     
 
    
   
  
     